---
import type { FilmsResponse} from '../pocketbase-typegen';



type Props = FilmsResponse;

const film = Astro.props;
---

<a href={`/films/${film.id}`} class="text-blue-700 hover:underline">{film.titre}</a>